* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardHighlight {
  min-height: 100%;
}

body {
  background-image: url('./components/images/AdminHome.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Edu NSW ACT Foundation', cursive;
  font-size: 20px;
}